ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

@import '../../commonScss/variables';

@import '../../commonScss/header';
@import 'blocks/_articles';
@import 'blocks/_features';
@import 'blocks/_partners';
@import 'blocks/_pricing';
@import 'blocks/_order';
@import 'blocks/_footer';