.articles-header {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-list {
    list-style-type: none;
    display: flex;
    align-items: center;

    &-item {
      margin: 0 15px;

      a {
        text-decoration: none;
      }
    }
  }
}