$COLOR_GRAY: #e7e7e7;
$COLOR_WHITE: #ffffff;

$COLOR_YELLOW_1: #cfba4a;
$COLOR_SAND_1: #cac8a2;
$COLOR_GREEN_1: #647d59;
$COLOR_TEAL_1: #254d4e;
$COLOR_BLUE_1: #204364;

$COLOR_SKY_BLUE: #248eca;
$COLOR_DARK_BLUE: #231992;
$COLOR_BLACK: #1c1c1d;
$COLOR_DARK_SAND: #8d753b;
$COLOR_SAND: #ddbb66;