.header {
  background-color: #e7e7e7;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  height: 75px;
  width: auto;
}
.header__logo img {
  height: 100%;
  width: auto;
}
.header-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-list-item {
  margin: 0 15px;
}
.header-list-item a {
  text-decoration: none;
}

.articles__header {
  text-align: center;
}
.articles-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.articles-carousel-item {
  background-color: #e7e7e7;
  margin: 15px;
  padding: 15px;
  max-width: 300px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.articles-carousel-item__btn {
  margin: 0 auto;
  text-align: center;
}
.articles-carousel__next, .articles-carousel__prev {
  height: 45px;
}

.features {
  background-color: #e7e7e7;
  padding-bottom: 20px;
}
.features__header {
  text-align: center;
}
.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features-item {
  background-color: #ffffff;
  margin: 15px;
  width: calc(50% - 38px);
  min-height: 150px;
  border-radius: 10px;
  border-left: 2px solid #248eca;
  border-right: 2px solid #248eca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features-item__logo {
  margin: 10px;
  margin-right: 15px;
}
.features-item__logo img {
  width: 85px;
  height: 85px;
}
.features-item__content {
  margin-top: 10px;
}
.features-item__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}
.features-item__title::after {
  content: "";
}

.partners {
  padding-bottom: 20px;
}
.partners__header {
  text-align: center;
  margin: 15px 0;
}
.partners__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners-item {
  width: 150px;
  height: 150px;
  margin: 10px;
}
.partners-item img {
  width: 100%;
  height: auto;
}

.pricing {
  padding: 50px 0;
  background: #e7e7e7;
}
.pricing__header {
  text-align: center;
}
.pricing__text {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}
.pricing .title {
  text-align: center;
}
.pricing__field {
  width: 100%;
  margin-top: 25px;
  background: #ffffff;
  padding: 30px 0 40px 0;
}
.pricing__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}
.pricing__subtitle:first-child {
  margin-top: 0;
}
.pricing #gender:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
}
.pricing__choose {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pricing__choose-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 50px;
  padding: 0 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.pricing__choose-item_active {
  color: #fff;
  background-color: #248eca;
}
.pricing__choose_medium {
  width: 743px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto 0 auto;
}
.pricing__choose_big {
  width: 930px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto 0 auto;
}
.pricing__choose_big .calculating__choose-item {
  width: 200px;
}
.pricing__divider {
  width: 490px;
  height: 1px;
  margin: 40px auto;
  background-color: rgba(0, 0, 0, 0.2);
}
.pricing__total {
  width: 490px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing__result {
  font-size: 18px;
  font-weight: bold;
}
.pricing__result span {
  font-size: 42px;
}

.order {
  padding-bottom: 30px;
}
.order-form {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  min-width: 250px;
}
.order-form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  background-color: #e7e7e7;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 40px;
}

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 24px;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 38px;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 15px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */